# Build MLST trees

## 7-gene MLST

In [3]:
!conda run --prefix /home/CSCScience.ca/apetkau/miniconda3/envs/mlst mlst --version

mlst 2.19.0

In [12]:
!conda run --prefix /home/CSCScience.ca/apetkau/miniconda3/envs/mlst \
mlst --nopath --scheme senterica --legacy ../assemblies/*.fasta > mlst-results.txt 2> /dev/null

In [13]:
!head mlst-results.txt

FILE	SCHEME	ST	aroC	dnaN	hemD	hisD	purE	sucA	thrA
SH08-001.fasta	senterica	15	2	7	9	9	5	9	12
SH09-29.fasta	senterica	15	2	7	9	9	5	9	12
SH10-001.fasta	senterica	15	2	7	9	9	5	9	12
SH10-002.fasta	senterica	15	2	7	9	9	5	9	12
SH10-014.fasta	senterica	15	2	7	9	9	5	9	12
SH10-015.fasta	senterica	15	2	7	9	9	5	9	12
SH10-30.fasta	senterica	15	2	7	9	9	5	9	12
SH11-001.fasta	senterica	15	2	7	9	9	5	9	12
SH11-002.fasta	senterica	15	2	7	9	9	5	9	12

## Phylogenetic tree (neighbor-joining from hamming distances)

In [148]:
import pandas as pd
import re

mlst_df = pd.read_csv('mlst-results.txt', sep='\t')
mlst_df['FILE'] = mlst_df['FILE'].map(lambda x: x.rstrip('.fasta'))
mlst_df = mlst_df.set_index('FILE').drop(['SCHEME', 'ST'], axis='columns')
mlst_df['hisD'] = mlst_df['hisD'].apply(lambda x: re.sub('[^0-9]','', x))
mlst_df['hisD'] = pd.to_numeric(mlst_df['hisD'])
mlst_df.head(5)

          aroC  dnaN  hemD  hisD  purE  sucA  thrA
FILE
SH08-001     2     7     9     9     5     9    12
SH09-29      2     7     9     9     5     9    12
SH10-001     2     7     9     9     5     9    12
SH10-002     2     7     9     9     5     9    12
SH10-014     2     7     9     9     5     9    12

In [149]:
from skbio import DistanceMatrix
from skbio.tree import nj

from sklearn.metrics import pairwise_distances

mlst_distances = pairwise_distances(mlst_df, metric='hamming')
matrix = DistanceMatrix(mlst_distances, mlst_df.index)

nj_tree = nj(matrix, result_constructor=str)
with open('mlst-tree.txt', 'w') as f:
    f.write(nj_tree)

In [150]:
!cat mlst-tree.txt

(SH14-027:0.000000, (SH14-026:0.000000, (SH14-025:0.000000, (SH14-024:0.000000, (SH14-023:0.000000, (SH14-022:0.000000, (SH14-020:0.000000, (SH14-019:0.000000, (SH14-017:0.000000, (SH14-016:0.000000, (SH14-015:0.000000, (SH14-014:0.000000, (SH14-013:0.000000, (SH14-012:0.000000, (SH14-011:0.000000, (SH14-010:0.000000, (SH14-009:0.000000, (SH14-008:0.000000, (SH14-007:0.000000, (SH14-006:0.000000, (SH14-005:0.000000, (SH14-004:0.000000, (SH14-003:0.000000, (SH14-002:0.000000, (SH14-001:0.000000, (SH13-008:0.000000, (SH13-007:0.000000, (SH13-006:0.000000, (SH13-005:0.000000, (SH13-004:0.000000, (SH13-003:0.000000, (SH13-002:0.000000, (SH13-001:0.000000, (SH12-014:0.000000, (SH12-013:0.000000, (SH12-011:0.000000, (SH12-010:0.000000, (SH12-009:0.000000, (SH12-008:0.000000, (SH12-007:0.000000, (SH12-006:0.000000, (SH12-005:0.000000, (SH12-004:0.000000, (SH12-003:0.000000, (SH12-002:0.000000, (SH12-001:0.000000, (SH11-002:0.000000, (SH11-001:0.000000, (SH10-30:0.000000, (SH10-015:0.000000, (SH10-014:0.000000, (SH10-002:0.000000, ((SH14-021:0.000000, (SH14-018:0.000000, SH12-012:0.000000):0.000000):0.142857, (SH10-001:0.000000, (SH09-29:0.000000, SH08-001:0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000, SH14-028:0.000000);

## SISTR MLST

In [8]:
!conda run --prefix /home/CSCScience.ca/apetkau/miniconda3/envs/sistr sistr --version

sistr_cmd 1.1.1

In [10]:
!conda run --prefix /home/CSCScience.ca/apetkau/miniconda3/envs/sistr \
sistr -f csv -o sistr-prediction.csv -p sistr-profiles.csv --use-full-cgmlst-db -m --qc -t 48 ../assemblies/*.fasta

2020-11-24 20:36:18,836 ERROR: Too many gapped sites in extracted allele seq for marker NZ_AOXE01000053.1_166 contained 23 gaps out of 216 bp (0.10648148148148148 > 0.05); stitle: Contig_52_34.4027 [in /home/CSCScience.ca/apetkau/miniconda3/envs/sistr/lib/python3.8/site-packages/sistr/src/cgmlst/__init__.py:162]
2020-11-24 20:36:18,840 ERROR: Missing cgmlst_results for NZ_AOXE01000053.1_166 [in /home/CSCScience.ca/apetkau/miniconda3/envs/sistr/lib/python3.8/site-packages/sistr/src/cgmlst/__init__.py:361]
2020-11-24 20:36:24,936 ERROR: Too many gapped sites in extracted allele seq for marker NZ_AOXE01000041.1_73 contained 162 gaps out of 429 bp (0.3776223776223776 > 0.05); stitle: Contig_37_35.8908 [in /home/CSCScience.ca/apetkau/miniconda3/envs/sistr/lib/python3.8/site-packages/sistr/src/cgmlst/__init__.py:162]
2020-11-24 20:36:24,945 ERROR: Missing cgmlst_results for NZ_AOXE01000041.1_73 [in /home/CSCScience.ca/apetkau/miniconda3/envs/sistr/lib/python3.8/site-packages/sistr/src/cgmlst/__init__.py:361]
2020-11-24 20:36:25,651 ERROR: Too many gapped sites in extracted allele seq for marker NZ_AOXE01000081.1_124 contained 242 gaps out of 1137 bp (0.21284080914687775 > 0.05); stitle: Contig_37_30.9401 [in /home/CSCScience.ca/apetkau/miniconda3/envs/sistr/lib/python3.8/site-packages/sistr/src/cgmlst/__init__.py:162]
2020-11-24 20:36:25,655 ERROR: Missing cgmlst_results for NZ_AOXE01000081.1_124 [in /home/CSCScience.ca/apetkau/miniconda3/envs/sistr/lib/python3.8/site-packages/sistr/src/cgmlst/__init__.py:361]
2020-11-24 20:36:25,969 ERROR: Too many gapped sites in extracted allele seq for marker NZ_AOXE01000072.1_100 contained 197 gaps out of 498 bp (0.39558232931726905 > 0.05); stitle: Contig_77_24.655 [in /home/CSCScience.ca/apetkau/miniconda3/envs/sistr/lib/python3.8/site-packages/sistr/src/cgmlst/__init__.py:162]
2020-11-24 20:36:25,979 ERROR: Missing cgmlst_results for NZ_AOXE01000072.1_100 [in /home/CSCScience.ca/apetkau/miniconda3/envs/sistr/lib/python3.8/site-packages/sistr/src/cgmlst/__init__.py:361]

In [74]:
!head sistr-profiles.csv | cut -f 1,2,3,4 -d ','

,NZ_AOXE01000059.1_60,NZ_AOXE01000019.1_14,NZ_AOXE01000085.1_58
SH08-001,3009296265,1560521952,3999802771
SH09-29,3009296265,1560521952,3999802771
SH10-001,3009296265,1560521952,3999802771
SH10-002,3009296265,1560521952,3999802771
SH10-014,3009296265,1560521952,3999802771
SH10-015,3009296265,1560521952,3999802771
SH10-30,3009296265,1560521952,3999802771
SH11-001,3009296265,1560521952,3999802771
SH11-002,3009296265,1560521952,3999802771

## Phylogenetic tree (neighbor-joining from hamming distances)

In [151]:
import pandas as pd
import re

sistr_df = pd.read_csv('sistr-profiles.csv', sep=',', index_col=0).fillna(-1).astype('int64')
sistr_df.head(5)

,NZ_AOXE01000059.1_60,NZ_AOXE01000019.1_14,NZ_AOXE01000085.1_58,NZ_AOXE01000034.1_134,NZ_AOXE01000059.1_129,NZ_AOXE01000047.1_56,NZ_AOXE01000040.1_19,NZ_AOXE01000059.1_42,NZ_AOXE01000085.1_34,NZ_AOXE01000059.1_32,...,NZ_AOYX01000060.1_42,NZ_AOXE01000036.1_3,NZ_AOXE01000073.1_79,NZ_AOXE01000035.1_13,NZ_AOXE01000077.1_33,NZ_AOYX01000009.1_43,NC_011149.1_467,NZ_AOXE01000059.1_333,NZ_AOXE01000041.1_85,NZ_AOXE01000041.1_84
SH08-001,3009296265,1560521952,3999802771,2059544131,4289483219,846800793,1307681507,943409602,2823279989,3821831313,...,486088087,1436385457,4293917942,4178717449,4213771231,1671956993,161888011,629769704,708436169,551814723
SH09-29,3009296265,1560521952,3999802771,2059544131,4289483219,846800793,1307681507,943409602,2823279989,3821831313,...,486088087,1436385457,4293917942,4178717449,4213771231,1671956993,161888011,629769704,708436169,551814723
SH10-001,3009296265,1560521952,3999802771,2059544131,4289483219,846800793,1307681507,943409602,2823279989,3821831313,...,486088087,1436385457,4293917942,4178717449,4213771231,1671956993,161888011,629769704,708436169,551814723
SH10-002,3009296265,1560521952,3999802771,2059544131,4289483219,846800793,1307681507,943409602,2823279989,3821831313,...,486088087,1436385457,4293917942,4178717449,4213771231,1671956993,161888011,629769704,708436169,551814723
SH10-014,3009296265,1560521952,3999802771,2059544131,4289483219,846800793,1307681507,943409602,2823279989,3821831313,...,486088087,1436385457,4293917942,4178717449,4213771231,1671956993,161888011,629769704,708436169,551814723

In [152]:
from skbio import DistanceMatrix
from skbio.tree import nj

from sklearn.metrics import pairwise_distances

sistr_distances = pairwise_distances(sistr_df, metric='hamming')
sistr_distances
matrix = DistanceMatrix(sistr_distances, sistr_df.index)

nj_tree = nj(matrix, result_constructor=str)
nj_tree
with open('sistr-tree.txt', 'w') as f:
    f.write(nj_tree)

In [153]:
!head sistr-tree.txt

((SH14-025:0.000000, (SH14-022:0.000000, (SH14-019:0.000000, (SH14-016:0.000000, (SH14-012:0.000000, (SH14-009:0.000000, (SH14-006:0.000000, (SH14-003:0.000000, (SH12-011:0.000000, (SH12-005:0.000000, (SH11-001:0.000000, (SH12-014:0.003030, (SH12-010:0.003030, SH12-003:0.003030):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000, ((SH14-026:0.000000, (SH14-024:0.000000, (SH14-020:0.000000, (SH14-018:0.000000, (SH14-014:0.000000, (SH14-011:0.000000, (SH14-007:0.000000, (SH14-005:0.000000, (SH14-001:0.000000, (SH12-009:0.000000, (SH12-001:0.000000, ((SH12-012:0.001515, SH10-30:0.004545):0.001515, (SH10-002:0.003030, (SH12-007:0.000000, SH12-002:0.000000):0.003030):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000, (SH14-027:0.000000, (SH14-023:0.000000, (SH14-021:0.000000, (SH14-017:0.000000, (SH14-015:0.000000, (SH14-010:0.000000, (SH14-008:0.000000, (SH14-004:0.000000, (SH14-002:0.000000, (SH12-008:0.000000, (SH12-004:0.000000, (SH10-001:0.000000, ((SH09-29:0.000000, SH08-001:0.000000):0.000000, ((SH12-013:0.019697, SH12-006:0.001515):0.001515, (SH14-013:0.002273, (SH13-005:0.002999, (SH13-008:0.000000, (SH13-007:0.000000, (SH13-006:0.000000, (SH13-004:0.000000, (SH13-003:0.000000, (SH13-002:0.000000, (SH13-001:0.000000, (SH11-002:0.000000, (SH10-015:0.000000, SH10-014:0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000032):0.011364):0.000758):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000):0.000000, SH14-028:0.000000);

# Extras

In [147]:
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import pairwise_distances

mlst_distances = pairwise_distances(mlst_df, metric='hamming')

clustering = AgglomerativeClustering(n_clusters=None,
                                    affinity='precomputed',
                                    compute_full_tree=True,
                                    linkage='single',
                                    distance_threshold=1000,
                                    ).fit(mlst_distances)

clustering.labels_

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])